<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<settings>
		<setting name="cacheEnabled" value="false" />
	</settings>

	<environments default="default-env">
		<environment id="default-env">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI"> <property name="data_source" value="java:/comp/env/jdbc/supportsmallshopDB" /> </dataSource> 
		</environment>
	</environments>

	<mappers>
		<mapper resource="shop.xml" />
		<mapper resource="misc.xml" />
	</mappers>
</configuration>